.list-group-item{
	color:red;
}
.container-hemis{
	width:100%;
	display: block;
}
.main-header{
	position: relative;
	width: 100%;
	min-height: 39px;

}
.fixheda {
	width: inherit;
	position: fixed;
	top:0;
	z-index: 3;
}
.userheda{
background: #a00405;
/*background: #0071FF;#*/
/*background: #a00405‏;*/
border-bottom: 1px solid #e5e5e5;
color:#fff;
/*margin-top: -10px;*/
height: 40px;
}
.userheda > div.hedacont > ul.navigation, .userheda > div.hedacont > div#user_options{
	display: inline;
}
.navigation{
	display:block;
	font-size: 14px;
	overflow: hidden;
	margin-left: 0;
	/*height: inherit;*/
	width: 430px;
}
.navigation > li{
	list-style: none;
	text-transform: capitalize;
	float: left;
	display: block;
	margin: 0 8px;
}
.navigation > li > a{
	padding: 10px 2px 10px;
	display: block;
}
.navigation > li > a {
	color:#ebebeb;
	text-decoration: none;
	font-weight: bold;
	font-size: small;
	font-family: helvetica;
}
#here{
	color: white;
}
.lt{
	padding-top: 3px;
	display: block;
}
.light{
	display:block;
	height: 2px;	
}
.light-active{
	background:#14D5FF;
	-webkit-box-shadow: 9px 9px 24px #14D5FF;
	-moz-box-shadow: 9px 9px 24px #14D5FF;
	box-shadow: 9px 9px 24px #14D5FF;
}
.navigation > li > a > span.lt:hover{
	color: white;
}

#user_options a.usrname{
	color: white;
}
#user_options a b.caret{
	margin-top: 9px;
}
.hedacont{
	margin:0 20px;
	padding-top: 1px;
	padding-bottom: 0px;
	height: 40px;
	position:relative;
}
#first{
	margin:0;
}
#scopebar{
	background: #fff;
	border: 1px solid #e1e1e1;
}
.fixheda_style{
  display: block;
  /*margin: 0 0 10px;*/
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: bold;
}
.acctheda{
	clear: both;
	margin-top: 0;
}
#user_options .nav li.dropdown > .dropdown-toggle .caret {
border-top-color: white;
border-bottom-color: white;
}
#user_options .nav li.dropdown.open > .dropdown-toggle{
	background:#14D5FF;
}
.acctheda .navbar-inner {
	padding: 0;
}
.content{
	padding:5px;
	margin: 20px;
	border:1px solid #ddd;
-webkit-box-shadow: -1px -1px 15px #e1e1e1;
-moz-box-shadow: -1px -1px 15px #e1e1e1;
box-shadow: -1px -1px 15px #e1e1e1;
}

.scope{
	display: block;
	position: fixed;
	width: 100%;
	/*margin: -41px 0;*/
	top: 83px;

}
.top_bar_up > span{
	text-transform: uppercase;
}
.top_bar_up > b{
	text-transform: capitalize;
	font-size: 16px;
}
.top_bar_down{
	
}

.content > .header >.schoolheader {
position: relative;
background: white;
/*border: 5px solid #0071FF;*/
/*background: red;*/
margin: 10px 0;
}
.buttondrops{
	display: inline-block;
direction: ltr;
float: right;
margin: -41px 133px;
}

.roundcorners{
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.school_details_sumarry {

}
.school_details_sumarry > strong{
	margin:0 23px 0 0;
}
.school_details_sumarry > small{
	text-transform: uppercase;
	font-weight: normal;
}
.schoolcontent > .header{
	padding:6px;
}
.school_display{
	padding:4px;
}
.school_nav_content{
border-top: none;
margin: -20px 0 0 0;
padding:8px;
overflow: hidden;
}
.bs-docs-example {
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: #fff;
border: 1px solid #ddd;

}
.bs-docs-example:after {
content: "main person";
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #ddd;
color: #9da0a4;
}
.icons_zone{
	overflow: hidden;
}
.icons_zone > p {
	display:inline;
	padding:10px;
	float: left;
	margin: 10px 30px;
	text-align: center;
	/*all text are align center could be a problem*/
}
.imgthumb{
display: block;
margin: 4px;

}
.shapey{
border-bottom: 30px solid #0071FF;
border-right: 30px solid transparent;
color: white;
display: inline-block;
font-weight: bold;
height: 0;
line-height: 48px;
padding: 10px;
text-decoration: none;	
}
ul.allschool {
	font-weight: normal;
}
ul.allschool li {
	list-style: none;
}
/*
below we are styling for the add school zone

*/
.adding form{
	padding:11px;
}
.adding span{
	font-weight: normal;
	display: inline;
	margin-right: 10px;
}
.school-name{
	padding-right: 134px;
}
.entrollment{
	padding-right:84px;
}
.ownership{
	padding-right:146px;
}
.lcenter-type{
	padding-right:38px;
}
.addr-street{
	padding-right:179px;
}
.addr-town{
	padding-right:177px;
}
.addr-region{
	padding-right:38px;
}
.cont-email{
	padding-right:179px;
}
.cont-tele{
	padding-right:148px;
}
.cont-mobile{
	padding-right:168px;
}
.cont-website{
	padding-right:100px;
}
.action-td > a {
	padding: 2px;
	margin: -5px 18px;
}
.action-td  img:hover{
	background:white;
}

.maked {
background: #dff0d8;
}
.title-header > h2{
	display:inline;
}
.title-header > div.filtering {
	float: right;
}
.bottom-contact{
	float:left;
	display: inline;
	padding:10px;
	margin-right:12px;
}
.nation{
padding-right:148px;
}
.gender{
padding-right:148px;
}
.enthnic{
padding-right:148px;	
}
.town{
	padding-right:188px;
}
.district{
	padding-right:165px;
}
.box{
	padding-right:165px;
}
.street{
	padding-right:174px;
}
.region{
	padding-right:148px;
}
.classname{
	padding-right:148px;
}


.staff-edate{
	padding-right:10px;
}
.staff-rank{
	padding-right:150px;
	margin-left: 110px;
}
.staff-employ{
	padding-right:106px;
}
.staff-role{
	padding-right:148px;
}
.staff-status{
	padding-right:148px;
}

.staff-hquali{
	padding-right:57px;
}
.staff-oquali{
	padding-right:92px;
}
.staff-fieldt{
	padding-right:92px;
}
.staff-levelt{
	padding-right:88px;
}
.staff-year{
	padding-right:148px;
}
.class-name{
	padding-right:100px;
}
.class-fee{
	padding-right:148px;
}

.class-award{
	padding-right:171px;
}
.class-year{
	padding-right:92px;
}
.class-quali{
	padding-right:104px;
}
.class-status{
	padding-right:171px;
}
.class-lc{
	padding-right:148px;
}
a.get-out{
		color: white;
	float: right;
	display: inline;
	font-weight: normal;
	text-decoration: none;
}
.signin{
margin: 0 auto;
display: block;
overflow: hidden;
width: 498px;

}
.signin form{
	margin: 0;
}
.pack-style{
	margin: 10px 5px;
}
.pack-style p.help-block {
	margin: 5px 0 18px 3px;
	font-weight: normal;
}
.pack-style input, .pack-style span.on {
	/*height:32px;*/
	line-height: 2em;
}
.pack-style select {
	/*height: 42px;*/
}
#myModal span{
	font-weight: normal;
}
.staff-hquali{
	padding-right:57px;
}
div.student_modal .town{
	padding-right:192px;
}
div.student_modal .bday{
padding-right:136px;
}
div.student_modal .enthnic{
	padding-right:161px;
}
div.student_modal .nation{
padding-right:136px;
}
div.student_modal .gender{
padding-right:136px;
}
div.student_modal .box{
padding-right:136px;
}
div.student_modal .street{
padding-right:186px;
}
div.student_modal .district{
padding-right:192px;	
}
.loading{
	background: yellow;
float: 2px;
padding: 2px;
margin: 0 267px;
display: none;
}
.modal_options{
	float: right;
	display: inline;
	margin: 0 8px;
}
.modal_options li{
	border-bottom: 1px solid #eee;
}

.staff-edate{
	padding-right:18px;
}
.staff-rank{
	padding-right:160px;
	margin-left: 112px;
}
.staff-employ{
	padding-right:106px;
}
.staff-role{
	padding-right:170px;
}
.staff-status{
	padding-right:148px;
}

.staff-hquali{
	padding-right:57px;
}
.staff-oquali{
	padding-right:112px;
}
.staff-fieldt{
	padding-right:92px;
}
.staff-levelt{
	padding-right:88px;
}
.staff-year{
	padding-right:148px;
}
.student_profile span{
	font-weight: normal;
	margin:2px;
	padding:8px;
}
.entry-typing input, .entry-typing select{
margin-bottom: 0;
}
.inputzone , .inputzone > div{
	display: inline;
	position: relative;
}
 .inputzone > div > span{
 	position: absolute;
 	padding: 5px;
	text-transform: capitalize;
	color: #999;
s
 }

 .show{
 	display: block;
 }
 .hide{
 	display: none;
 }
/*placeholders styling starts here*/
#placehold-schoolname{
	left: 0;
}
#placehold-capacity{
	left:225px;
}
/*placeholders styling stops here*/
.caption-right{
	text-align: left;
	text-transform: capitalize;
	text-decoration: none;
	text-indent: 2px;
}
.caption-right > a{
	padding: 12px;
	text-decoration: none;
	font-size: 1.3em;
}
.abstract{
	height:15%;
	overflow: hidden;
}
li.result{
	list-style: none;
}
/*Form style snippets*/
.form-snippet{
	margin: 0 40px;
	padding:2px 0;
	border: 1px solid #E6E9ED;
}

.form-snippet form{

}
.level div{
 display: inline-block;
 margin:0.2rem 0.4rem;
 margin:2px 20px;
}

.middle{
 margin:0.2rem 0.4rem;
 margin:2px 4px;	
}
.form-snippet form input{
	/*height: 35px;*/
}
.form-snippet form select{
/*height: 44px;*/
width: 283px;
}
.form-snippet form label{
	font-weight: bold;
}
.form-snippet form .form-header{
	background: #3BAFDA;
	padding:2px 20px;
	color:#F5F7FA;
	margin-bottom: 30px;
}
.form-snippet .title > h2{
	/*border-bottom: 1px solid #E6E9ED;*/
}
.level > hr {

}
.level{
	 position: relative;
}
.level > span{
	position: absolute;
	top: -11px;
	background: #fff;
	padding: 1px 10px;
	margin-bottom: 3px;
	font-weight: 700;
	font-size: 18px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
}
.actions {
	display: block;
	overflow: hidden;
	border-top: 1px solid #E6E9ED;
}
.actions > div {
	float:left;
	display:inline;
	padding: 20px 2px;
	

}
div.wrapper > section{
	margin-top: 87px;
	position: relative;
}
.cc{
	border: 1px solid #e1e1e1;
	padding: 4px;
	display: block;
	/*overflow: hidden;*/
	margin: 0 20px 20px 20px;
	background: white;
}
.fa-bars{
	padding: 0 8px;
}
.blr{
	border-right: 1px solid #ccc;
border-left: 1px solid #ccc;
margin: 0 15px;
}
.sidebar {
position: fixed;
z-index: 100;
background: #fff;
display: none;
/*height: 604px*/
border: 1px solid #e1e4e6;
/*border-left: 1px solid #e1e4e6;*/
height: 100%;
}
ul	{
	margin: 0;
}
li#search {
/* margin-left: 24px; */
position: relative;
padding:2px;
}
.sidebar ul li {
 padding: 28px 0;
 border-top:1px solid #ccc;
}
ul li {
list-style: none;
}
.sidebar ul li:hover {
color: white !important;
background-color: #ECECEC;

}

.sidebar ul li a {
	color: #5b6064;
	font-weight: bolder;
	font-size: 0.9375rem;
	padding: 2.88em 11.028em;
	padding-left: 4.8em;
text-decoration: none;
}
.sidebar li a > i.fa {
margin: 2px 24px 6px 2px;
font-size: 20px;
}
.icons_zone .fa{
	font-size: 12em;
}
div.sidebar{
	display: block;
left: -388px;
}
#studentChecker{
	display: none;
	position: absolute;
	left: 246px;
	top: 41px;
	color: #918B8B;
	font-size: 13px;
	font-weight: bold;
}
#index {
	padding: 60px;
}
.details > div.aside {
	float: left;
	display: inline-block;
	border-right: 1px solid #eeeeee;
	padding: 6px;
}
.thm{
	float: initial;
}
.pre-icon{
	font-size: 2.53em;
	margin: 0 85px;
}
/**
 working on pre 
**/
.pre-container{
	margin:0 auto;
	width: 960px;
}
.pch > ul{
	border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    /*display: table;*/
    list-style: none outside none;
    /*margin: 30px auto 0;*/
    overflow: hidden;
    padding: 0;
    /*width: 960px;*/
}
.pch > ul > li {
	background-color: #fafafa;
    border-left: 1px solid #ddd;
    color: #ccc;
    cursor: default;
    display: table-cell;
    padding: 10px 15px;
    /*width: 33.3%;*/
    font-size: 12px;
}
.pch > ul > li:first-child{
border-left: 0 none;
}
.pch > ul > li > strong{
	display: block;
	margin: 0 85px;
}
.pre-header {
	color: #555;
	font-size: 20px;
}
.active{
	 background-color: #fff !important;
    color: #333 !important;
}
.shadow{
	border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.gry{
    background-color: #f3f3f3;
    height: 100%;
    text-align: center;
    width: 100%;
}
.bkg-white{
	background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 16px;
}
.gry > .mega-octicon{
	font-size: 256px;
}
.upload-pic{
	height: 100%;
	padding: 2px;
}
.spacer{
	padding: 2px;
margin: 10px 0;
}
.add-academics {
    position: relative;
}
.add-academics .upload-prev {
    position: relative;
}
.add-academics table.table {
    prosition: relative;
}
.add-academics table thead th, .add-academics table tbody td  {
    position: relative;
}
.add-academics table tbody td.last, .add-academics table tbody tr.forming td, .add-academics table tbody tr.new-school td{
	padding:0 !important;
}
 .add-academics table tbody tr.forming td > input, .add-academics table tbody tr.new-school td > input {
	margin-bottom: 0;
	border-radius: initial;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 24px;
 }
.add-academics table tbody tr.forming td.last > input {
 	padding-right: 30px;

 }
a#sname {
    position: absolute;  left: -53px;  border: 1px solid #ddd;  padding: 2px 16px 2px 15px;  top: -1px;
}
.add-more-right{
    float: right;
    display: inline;
	padding: 10px 18px 6px 15px;
	border-left: 1px solid #ddd;
}
.add-submit-right{
border-style: none;
float: right;
color: #0088cc;
background: white;
border: 1px solid #ddd;
padding: 0px 16px;
margin-top: -1px;
}
.add-mit-right{
border-style: none;
float: right;
color: #0088cc;
background: white;
border: 1px solid #ddd;
padding: 0px 16px;
margin-top: -34px;
position: relative;
}
td.last > span {
margin: 1px 6px;
padding: 7px 0;
display: inline-block;
}
.add-doc, .add-subject{
-moz-box-shadow: 4px 5px 26px #dddddd;
-webkit-box-shadow: 4px 5px 26px #dddddd;
box-shadow: 4px 5px 26px #dddddd;
padding: 5px;
border: 1px solid #ddd;
margin: 5px;
position: relative;
}
.add-subject{
display: none;
position: absolute;
top: 50px;
right: 22px;
background: white;
}
.add-doc{
	position: absolute;
background: white;
display: none;
}
div.add-doc .octicon, .add-subject .octicon{
	position: absolute;
	color: #ccc;
	position: absolute;
	top: -10px;
	right: 0;
	font-size: 13px;
}

li.active .mega-octicon {
color: #4183c4;
}

.academics{
	display:none;
}
.work{
	display:block;
}
.credentials{
	display:none;
}
/*.pch > ul > li > strong{}*/

/*SCOPE*/

.scope-pan {
    background: white;
    padding: 0;
    margin-top: -41px;
}
.scope-content {
    margin: 0 auto;
    width: 72%;
    /* background: red; */
}
.scope-content > ul {
    font-size: 14px;
}
.scope-content > ul > li {
    float: left;
    display: inline;
}
footer {
    clear: both;
}
ul.flash-cont > li {
    float: left;
    padding: 10px;
}
.right-cont ul.nav{
	clear: both;
}
.right-cont ul.nav > li{
	float:left;
	display: inline;

}
ul.flash-cont {
    border: 1px solid #ddd;
}
ul.flash-cont >li:first-child {
    border-right: 1px solid #ddd;
}
ul.flash-cont >li{
    padding:8px;
    text-transform: capitalize;
    font-weight: bold;
    
}
ul.flash-cont >li > a{
    text-decoration: none;
    color: #000;
    font-size:2em;
}
.content-details {
margin-top: 226px;
clear: both;
}
/*Form style snippets END*/
.cc .form-header{
	background: #a00405;
	color:#fff;
	padding:4px;
}
form.killing input[type='submit']{
	border-style: none !important;
background: white !important;
color: red !important;

}
input[type='submit'].checkdate{
	 margin-top: -10px;
}
